.dessert_card {
    /* border: 1px solid red; */
    width: 250px;
    border-radius: 20px;
    padding: 20px;

    background-color: antiquewhite;

}

.dessert_btn {
    padding: 20px;
    cursor: pointer;
    background-color: hotpink;
    color: cornsilk;
    border: none;
    border-radius: 10px;
}

.dessert_img {
    width: 250px;
    border-radius: 20px
}

.dessert_list {
    /* border: 1px solid red; */
    width: 938px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    padding-top: 100px;
}

.dessert_h1 {
    text-align: center;

}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .dessert_list {
        /* border: 1px solid red; */
        width: 938px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
        padding-top: 100px;
        flex-direction: column;
    }

    .dessert_card {
        /* border: 1px solid red; */
        width: 278px;
        border-radius: 20px;
        padding: 20px;

        background-color: antiquewhite;

    }

    .dessert_img {
        width: 278px;
        border-radius: 20px
    }

    .dessert_h1 {
        text-align: center;
        margin-top: 100px;

    }



}