.header {
    display: flex;
    align-content: center;
    background-color: cornsilk;


}

.header_logo {
    width: 100px;
}


.header_list {
    display: flex;
    list-style: none;
    gap: 5px;
}

.header_item {
    background-color: burlywood;
    padding: 5px 10px;
    border-radius: 5px;
    height: 20px;
    
}

.header_item:hover {
    background-color: rgb(188, 158, 118) ;
}


.header_link {
    text-decoration: none;
    color: black;
}

